*{
  margin: 0;
  padding: 0;
}


h1{
  text-align: center;
}

label{
  font-size: 20px;
  font-weight: bold;
}

.textbox{
  background-color: lightblue;
  height: 35px;
  width: 200px;
  border-radius: 25px;
  border: 2px solid black;
  font-weight: bold;
}

.btn{
  background-color: aqua;
  height: 40px;
  width: 180px;
  border: 2px solid black;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.formdata{
  width: 30%;
  margin: auto;
  padding-left: 10px;
  margin-top: 30px;
  justify-content: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cardData{
  background-color: cadetblue;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns:  auto auto;
  gap: 30px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  width: 80%;
  height: 100%;
  border: 2px solid black;
  padding: 10px;
}
span{
  font-weight: 600;
}
.card{
  background-color: hotpink;
  border: 2px solid black;
  border-radius: 20px;
  height: 40px;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.UserData{
  font-size: 20px;
  text-align: center;
}
